.App {
  text-align: center;
}

header{
    width: 100%;
    padding:  1vh;
}

.flex-container{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:0;
  margin:0 auto;  
}

.flex-container .left{
  text-align:left;
} 

.flex-container .right{
    text-align:right;
}

.flex-container.stack_left{
  justify-content: flex-start;
}

.flex-container.stack_right{
  justify-content: flex-end;
}

.flex-container.top{
  align-items: flex-start;
}

.flex-item{
  flex-grow:1;
  flex-basis:1;
  padding: 0.5em;
  margin:0;
}

.half-width{
  width:50%;
  display:inline-block;
}

.selected{
  background: #ccc;
}

@media (max-width: 767px) {
  .flex-container{
    display:block;
  }
}

label{
  display: block;
  width: 80vw;
  margin: 0 auto;
}

input{
  display: block;
  width: 80%;
  margin: 0 auto 4vh;
  padding: 2vh;
  border: 1px solid #2980b9;
  border-radius: 3px;
}

textarea{
  display: block;
  width: 80%;
  height: 10vh;
  margin: 0 auto 4vh;
  padding: 2vh;
  border: 1px solid #2980b9;
  border-radius: 3px;
}

button, 
.button{
  border-radius: 3px;
  background: #ecf0f1;
  border-right:  1px solid #7f8c8d;
  border-bottom:  1px solid #7f8c8d;
  cursor: pointer;  
  margin: 1vw;
  min-width: 90%;
}

button.flex-item, 
.button.flex-item{
  min-width:  0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
