.turquoise{
	background:#1abc9c;
}

.turquoise-text{
	color:#1abc9c;
}

.sun_flower{
	background:#f1c40f;
}

.sun_flower-text{
	color:#f1c40f;
}

.asphalt{
	background:#34495e;
}

.asphalt-text{
	color:#34495e;
}

.blue{
	background:#2980b9;
}

.blue-text{
	color:#2980b9;
}

.grey{
	background:#7f8c8d;
}

.grey-text{
	color:#7f8c8d;
}

.light-grey{
	background: #ecf0f1;
}
.light-grey-text{
	color: #ecf0f1;
}